<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Área do Triângulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Área do Triângulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Base:</ion-label>
    <ion-input [(ngModel)]="base" name="base"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Altura:</ion-label>
    <ion-input [(ngModel)]="alt" name="alt"></ion-input>
  </ion-item>
  
  <ion-button (click)="cal()">Calcular</ion-button>

</ion-content>
